<%= render :partial => "questionaires/menu" -%>

<fieldset>
  <legend><span>Uppdatera fråga</span></legend>

  <%= render :partial => "form", :locals => { :question => @question, :questionaire => @questionaire } %>
</fieldset>
