<%= render :partial => "menu" %>

<h1>Arrangörer</h1>

<table>
  <thead>
    <tr>
      <th>Namn</th>
      <th>Detaljer</th>
    </tr>
  </thead>

  <tbody>

    <% @culture_providers.each do |provider| -%>
      <tr>
        <td><%= h(provider.name) %></td>
        <td><%= link_to "Visa", provider %></td>
      </tr>
    <% end -%>

  </tbody>
</table>