<%= render :partial => "menu" %>

<table>
  <thead>
    <tr>
      <th>Namn</th>
      <th>Detaljer</th>
    </tr>
  </thead>

  <tbody>

    <% @culture_providers.each do |provider| -%>
      <tr class="<%= cycle('', 'alt') %>">
        <td><%= link_to h(provider.name), provider %></td>
        <td><%= link_to "Visa", provider %></td>
      </tr>
    <% end -%>

  </tbody>
</table>