<h1>Kulturproceduren - Behörighetsansökan</h1>

<p>
  <%= @role_application.user.name %>
  har ansökt om behörighet
  i Kulturproceduren.
</p>

<p>
  <%= link_to "Hantera ansökan här.", mail_url(edit_role_application_path(@role_application)) %>
</p>
