<% accepted = @role_application.state == RoleApplication::ACCEPTED %>
<% type = @role_application.role.symbol_name %>

<h1>
  Kulturkartan -
  <% if accepted %>
    Behörighet
  <% else %>
    Nekad behörighet
  <% end %>
</h1>

<p>
  <% if accepted %>
    Du har nu behörighet att
  <% else %>
    Du har nekats behörighet att
  <% end %>
  <% if type == :culture_worker %>
    redigera arrangörsinformation
  <% elsif type == :booker %>
    boka platser
  <% elsif type == :host %>
    hantera närvaro
  <% end %>
  i <%= link_to "Kulturkartan", APP_CONFIG[:kp_external_link] %>.
</p>

<p>
  <a href="<%= APP_CONFIG[:kp_manual_link] %>">
    <% if accepted %>
      Här kan du få hjälp med att komma igång.
    <% else %>
      Här kan du läsa mer om vad som gäller för att få behörighet i Kulturkartan.
    <% end %>
  </a>
</p>

<p>
  Vänliga hälsningar
  <br/>
  <%= link_to "Kultur för Barn och Unga", APP_CONFIG[:kbu_link] %>.
</p>
