<h1>Kulturkartan - Bekräfta återställning av lösenord</h1>

<p>
  Du har skickat in en förfrågan till
  <%= link_to "Kulturkartan", APP_CONFIG[:kp_external_link] %>
  om att återställa ditt lösenord.
</p>

<p>
  För att kunna återställa lösenordet måste du först bekräfta din förfrågan.
  <%= link_to "Klicka här för att bekräfta förfrågan", mail_url(reset_password_user_path(@user, key: @user.request_key)) %>
</p>

<p>
  Om du har fått det här meddelandet utan att ha begärt att få ditt
  lösenord återställt så kan du bortse från detta meddelande. Ditt
  lösenord återställs inte så länge du inte bekräftar det ovan.
</p>

<p>
  Vänliga hälsningar
  <br/>
  <%= link_to "Kultur för Barn och Unga", APP_CONFIG[:kbu_link] %>.
</p>
