<h1>Kulturkartan - Nytt lösenord</h1>

<p>
  Ditt lösenord till
  <%= link_to "Kulturkartan", APP_CONFIG[:kp_external_link] %>
  har återställts. Du kan nu logga in med nedanstående uppgifter:
</p>

<ul>
  <li>Användarnamn: <strong><%= @user.username %></strong></li>
  <li>Lösenord: <strong><%= @password %></strong></li>
</ul>

<p>
  Du kan byta lösenordet när du har loggat in i Kulturkartan.
</p>

<p>
  Vänliga hälsningar
  <br/>
  <%= link_to "Kultur för Barn och Unga", APP_CONFIG[:kbu_link] %>.
</p>
