<div>
<a href="/login/logout">Logout</a>
</div>
<!-- user_id = <%= session[:current_user_id] %> -->
<ul>
<% @occasions.each do |o| %>
<li/><%= Event.find_by_id(o.event_id).name %> , <%= o.date %>
<% end %>
</ul>
