<% content_for :section_sub do -%>
  <div class="section-info">

    <%= link_to "Detaljerad filtrering", { :action => "filter", :list => @calendar_list }, { :class => "show-calendar-filter-action" } %>

    <p class="description">
      Välkommen till Kulturproceduren. Här hittar du allt kulturutbud för barn
      och unga (0-19 år) i Malmö. 
    </p>

    <p class="description after">
      Bokningsbara evenemang på Kulturproceduren arrangeras och fördelas av
      <a href="http://www.malmo.se/kbu">Kultur för Barn och Unga</a> och är
      endast tillgängliga för förskolor och grundskolor i Malmö.
    </p>

    <p class="description after">
      Är du kulturproducent i Malmö och vill presentera ditt utbud på
      Kulturproceduren, <%= link_to "skapa ett konto här", :controller => "login", :action => "index" %>.
    </p>

  </div>
<% end -%>

<%= render :partial => 'list' %>
