<% content_for :section_sub do -%>
  <div class="section-info">

    <%= link_to "Detaljerad sökning", { :action => "filter", :list => @calendar_list }, { :class => "show-calendar-filter-action" } %>

    <p class="description">
      Välkommen till Kulturproceduren. Här hittar du allt kulturutbud för barn
      och unga (0-19 år) i Malmö. 
    </p>

    <p class="description after">
      Bokningsbara evenemang på Kulturproceduren arrangeras och fördelas av
      <%= link_to "Kultur för Barn och Unga", APP_CONFIG[:kbu_link] %> och är
      endast tillgängliga för förskolor och grundskolor i Malmö.
    </p>

    <% unless user_online? %>
      <p class="description after">
        Är du kulturproducent i Malmö och vill presentera ditt utbud på
        Kulturproceduren, <%= link_to "skapa ett konto här", :controller => "login", :action => "index" %>.
      </p>
    <% end %>

  </div>
<% end -%>

<% cache(list_cache_key()) do %>
  <%= render :partial => 'list' %>
<% end %>
