<% content_for :section_sub do -%>
  <div class="section-info">

    <%= link_to "Detaljerad sökning", { :action => "filter", :list => @calendar_list }, { :class => "show-calendar-filter-action" } %>

    <p class="description">
      Välkommen till Kulturproceduren. I kalendariet hittar du kulturutbud för
      barn och unga i Malmö.
    </p>

    <p class="description after">
      Kulturproceduren är även ett bokningssystem som är tillgängligt för
      Malmös förskolor och grundskolor.
    </p>

    <% unless user_online? %>
      <p class="description after">
        Är du kulturproducent i Malmö och vill presentera ditt utbud på
        Kulturproceduren, <%= link_to "skapa ett konto här", :controller => "login", :action => "index" %>.
      </p>
    <% end %>

    <p class="description after">
      Behöver du hjälp eller vill läsa mer om någon del i Kulturproceduren
      hittar du <%= link_to "användarhjälp här", APP_CONFIG[:kp_manual_link] %>.
    </p>

  </div>
<% end -%>

<% cache(list_cache_key()) do %>
  <%= render :partial => 'list' %>
<% end %>
