%main
  .preamble.calendar
    %section.about.box.light
      %h1.box-title Om Kulturkartan
      .box-content
        .map-container(style="display:none;")
        %p
          Välkommen till Kulturkartan. I kalendariet hittar du kulturutbud
          för barn och unga i Malmö.
        %p
          Kulturkartan är även ett bokningssystem som är tillgängligt för
          Malmös förskolor och grundskolor.
        - unless user_online?
          %p
            Är du kulturproducent i Malmö och vill presentera ditt utbud på
            Kulturkartan,
            = link_to "skapa ett konto här", controller: "login", action: "index"
        %p
          Behöver du hjälp eller vill läsa mer om någon del i Kulturkartan
          hittar du
          = link_to "användarhjälp här", APP_CONFIG[:kp_manual_link]

    = render partial: "shared/contact_us"

  - cache list_cache_key, skip_digest: true do
    = render partial: "list",
      locals: { events: @events, occasions: @occasions, category_groups: @category_groups }
