#kp .pri-nav,
#kp .section-nav,
#kp .section-info,
#kp .calendar-list-tabs,
#kp .calendar-list .booking,
#kp .booking-list .tools,
#kp .admin-tools,
#kp .occasion-form-container,
#kp #kp-group-selection-form,
#kp .cp-sec-content,
#kp .ui-tabs-nav li {
    display: none;
}

#kp #kp-content #kp-pri-content,
#kp #kp-content #kp-sec-content {
    float: none;
    width: auto;
    margin: auto;
}

#ui-datepicker-div { display: none; }
