#kp h1 { margin-bottom: 0.5em; }
#kp h2 { margin-bottom: 0.75em; }
#kp h3 { margin-bottom: 1em; }
#kp h4 { margin-bottom: 1.25em; }
#kp h5 { margin-bottom: 1.5em; }

#kp li ul,
#kp li ol { margin:0 1.5em; }
#kp ul, ol { margin: 0 1.5em 1.5em 1.5em; }

#kp ul { list-style-type: disc; }
#kp ol { list-style-type: decimal; }

#kp dl { margin: 0 0 1.5em 0; }
#kp dd { margin-left: 1.5em;}

#kp fieldset { border: 1px solid #c0c0c0; margin: 0 0 1em 0; padding: 1em 0.5em; }
#kp legend { padding: 0 1em; font-size: 1em; }

#kp table { width: 100%; }
#kp table .selected td { background: #cfc; }
#kp table .cancelled td { text-decoration: line-through; }
#kp table th.super { border: 0; text-align: center; }

#kp img { border: 0; padding: 0; margin: 0; }

#kp .clearer { clear: both; }
#kp .clearfix { zoom: 1; }
#kp .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*** jQuery UI ***/
#kp .ui-widget { font-size: 1em; }

#kp .ui-tabs { margin-bottom: 1em; padding: 0; }

#kp ul.ui-tabs-nav {
    padding: 0 0 0 1em;
    list-style: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #c0c0c0;
    margin: 0;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important; 
    zoom: 1;
    font-size: 0.929em;
}
#kp ul.ui-tabs-nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#kp ul.ui-tabs-nav li {
    float: left;
    background: #fff;
    margin-right: .3em;
    border: 0;
    position: relative;
    top: 1px;
}
#kp ul.ui-tabs-nav li a {
    display: block;
    background: #d9ebd2;
    border: 1px solid #c0c0c0;
    padding: .2em 1em;
    cursor: pointer;
}
#kp ul.ui-tabs-nav li.ui-state-hover a { background: #fff; }
#kp ul.ui-tabs-nav li.ui-state-hover a:hover { text-decoration: none !important; }
#kp ul.ui-tabs-nav li.ui-state-active a { border-bottom: 1px solid #fff; background: #fff; }

#kp .ui-tabs-hide { display: none; }

#kp .ui-widget-content {
    background: transparent;
    border: 0;
    border-top: none;
    overflow: hidden;
    clear: both;
}
#kp .ui-tabs-panel { border: 1px solid #c0c0c0; border-top: 0; padding: 0.5em; }

#kp .ui-datepicker-trigger {
    border: 0;
    background: transparent url(../images/calendar.png) 100% 50% no-repeat;
    text-indent: -1000px;
    width: 20px;
}

/*** Widgets ***/
#kp fieldset.collapsible legend {
    font-weight: bold;
    background: url(../images/expanded.png) 5px 50% no-repeat;
    padding-left: 20px;
    cursor: pointer;
}
#kp fieldset.collapsed { border: 0; padding: 0 0 0 1em;}
#kp fieldset.collapsed legend { background: url(../images/collapsed.png) 5px 50% no-repeat; }
#kp fieldset.collapsed form { display: none; }

#kp .pagination
{
	margin: .5em 0;
}

/*** Page ***/
#kp .flash { margin: 1em 0; }
#kp .message { margin: 0 0 1em 0; padding: 0.5em; background-image: none; }

#kp .specification-info dt { font-weight: bold; float: left; text-align: right; }

#kp ul.tools {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
}
#kp ul.tools li { display: inline; margin-right: 1em; }

#kp .load-indicator {
    width: 16px;
    height: 16px;
    display: -moz-inline-stack;
    display: inline-block;
    background: url(http://www.dev.malmo.se/assets/img/ajax-loader-16x16.gif) no-repeat;
}

#kp #kp-content { margin-top: 1em; }
#kp #kp-content #kp-pri-content { width: 33em; float: left; }
#kp #kp-content #kp-sec-content { width: 15.286em; margin-left: 34em; }

/*** Navigation ***/
#kp .pri-nav {
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #c0c0c0;
    list-style-type: none;
}
#kp .pri-nav li {
    display: -moz-inline-stack;
    display: inline-block;
    margin-right: 0.2em;
    border: 1px solid #c0c0c0;
    border-bottom: 0;
    background: #d9ebd2;
    font-size: 0.929em;
}
#kp .pri-nav a { display: block; padding: 0.3em 0.6em 0.5em 0.6em; position: relative; top: 1px; }
#kp .pri-nav li.active, #kp .pri-nav li.active a { background: #fff; }

#kp .pri-nav li.pri-nav-logout, #kp .pri-nav li.pri-nav-leave-logout {
    background: transparent;
    border: 0;
    font-weight: normal;
}
#kp .pri-nav li.pri-nav-leave-logout {
    position: absolute;
    top: -3em;
    right: 0;
    padding: 0;
    margin: 0;
}
#kp .pri-nav li.pri-nav-leave-logout a { margin-left: 7px; padding: 0; text-align: right; }

/*** Section subcontent ***/

#kp .section-nav, #kp .section-info {
    margin: 0;
    padding: 0;
    border: 1px solid #c0c0c0;
    border-top: 0;
    clear: both;
    font-size: 0.929em;
}

#kp .section-nav { list-style-type:none; }
#kp .section-nav li { display: inline-block; padding: 0.5em 1em; }
#kp .section-nav li.active a { font-weight: bold !important; }

#kp .section-info { padding: 1em; }
#kp .section-info p.description { margin: 0; padding: 0; width: 70%; }
#kp .section-info p.after { margin-top: 0.5em; }

/*** Forms ***/

#kp .context-form { border: 1px solid #c0c0c0; padding: 1em; margin-bottom: 1em; }

#kp form fieldset,
#kp .with-legend { margin: 0; border: 0; padding: 0; }
#kp .with-legend { position: relative; padding: 3em 0 1em 0; }
#kp .with-legend legend { margin: 0; padding: 0; }
#kp .with-legend legend span {
    position: absolute;
    display: block;
    width: 98%;
    padding: 0.2em 0.5em;
    background: #ffcf3d url(../images/list_header.png) repeat-x;
}

#kp form h2,
#kp h2.form-title { padding: 0.3em 0.5em; background: #ffcf3d url(../images/list_header.png) repeat-x; }

#kp .form-row { padding-bottom: 0.5em; clear: both; }
#kp .form-row label { display: block; float: left; font-size: 0.929em; }
#kp .form-row .input-container label,
#kp .post-label-form-row label { float: none; display: inline; }
#kp .input-container .field-help { display: block; font-size: 0.786em; }
#kp .form-buttons { clear: both; padding-top: 1em; }
#kp .form-row .input-container input,
#kp .form-row .input-container select,
#kp .form-row .input-container textarea { width: 275px; }
#kp .form-row .input-container noscript input,
#kp .form-row .input-container .checkbox-list input,
#kp .post-label-form-row .input-container input,
#kp .post-label-form-row .input-container select,
#kp .post-label-form-row .input-container textarea { width: auto; }
#kp .description-form-row { font-size: 0.929em; }

#kp ul.form-elements {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#kp ul.form-elements li {
    padding: 0 0 0.5em 0;
    margin: 0;
}

#kp .inline-form-elements {
    border: 1px solid #c0c0c0;
    padding: 3px;
}

#kp form .date-field { width: 7em; }
#kp form .checkbox-list { list-style-type: none; margin: 0; padding: 0; }

#kp form .map-address-test-trigger { display: block; font-size: 0.929em; }


/* Age group form */
#kp form.age-group-form { padding-bottom: 1em; }
/* Category form */
#kp form.category-form label { width: 7em; }
#kp form.category-form .input-container { padding-left: 7em; }
/* Category group form */
#kp form.category-group-form label { width: 5em; }
#kp form.category-group-form .input-container { padding-left: 5em; }
/* Culture provider form */
#kp form.culture-provider-form label { width: 8em; }
#kp form.culture-provider-form .input-container { padding-left: 8em; }
/* District form */
#kp form.district-form label { width: 9em; }
#kp form.district-form .input-container { padding-left: 9em; }
/* Event form */
#kp form.event-form label { width: 10em; }
#kp form.event-form .input-container,
#kp form.event-form .checkbox-list,
#kp form.event-form .post-label-form-row { padding-left: 10em; }
#kp form.event-form .form-row .checkbox-list label { float: none; display: inline; }
/* Group form */
#kp form.group-form label { width: 9em; }
#kp form.group-form .input-container { padding-left: 9em; }
#kp form.group-form .post-label-form-row { padding-left: 9em; }
/* Image form */
#kp form.image-form label { width: 5em; }
#kp form.image-form .input-container { padding-left: 5em; }
/* Login form */
#kp form.login-form label { width: 8em; }
#kp form.login-form .input-container { padding-left: 8em; }
/* Occasion form */
#kp form.occasion-form label { width: 10em; }
#kp form.occasion-form .post-label-form-row,
#kp form.occasion-form .input-container { padding-left: 10em; }
#kp form.occasion-form .input-container select { width: auto; }
/* Questionaire form */
#kp form.questionaire-form label { width: 6em; }
#kp form.questionaire-form .input-container { padding-left: 6em; }
/* Question form */
#kp form.question-form label { width: 10em; }
#kp form.question-form .post-label-form-row,
#kp form.question-form .input-container { padding-left: 10em; }
#kp form.question-form .types-field-row input { width: auto; }
/* Role application forms */
#kp form.role-application-booker-form label { width: 6em; }
#kp form.role-application-booker-form .input-container { padding-left: 6em; }
#kp form.role-application-culture-worker-form label { width: 14em; }
#kp form.role-application-culture-worker-form .input-container { padding-left: 14em; }
#kp form.role-application-host-form label { width: 6em; }
#kp form.role-application-host-form .input-container { padding-left: 6em; }
#kp form.role-application-form label { width: 9em; }
#kp form.role-application-form .post-label-form-row,
#kp form.role-application-form .input-container { padding-left: 9em; }
/* School form */
#kp form.school-form label { width: 9em; }
#kp form.school-form .input-container { padding-left: 9em; }
/* User form */
#kp form.user-form label { width: 10em; }
#kp form.user-form .input-container { padding-left: 10em; }
/* Allotment forms */
#kp form.allotment-init-form label { width: 12em; }
#kp form.allotment-init-form .input-container { padding-left: 12em; }
/* Ldap search form */
#kp form.ldap-search-form label { width: 8em; }
#kp form.ldap-search-form .input-container { padding-left: 8em; }
/* Booking form */
#kp .booking-group-selection label,
#kp form.booking-form label { width: 16em; }
#kp .booking-group-selection .input-container,
#kp form.booking-form .input-container { padding-left: 16em; }
/* Evaluation form */
#kp form.evaluation-form label { width: 15em; }
#kp form.evaluation-form .input-container { padding-left: 15em; }
#kp form.evaluation-form .input-container .radio,
#kp form.evaluation-form .input-container .checkbox { width: auto; }
/* Notification request forms */
#kp .notification-request-group-selection label,
#kp form.notification-request-group-form label { width: 8em; }
#kp .notification-request-group-selection .input-container,
#kp form.notification-request-form .post-label-form-row,
#kp form.notification-request-group-form .input-container { padding-left: 8em; }
/* Booking listing form */
#kp .group-bookings-group-selection label { width: 7em; }
#kp .group-bookings-group-selection .input-container { margin-left: 7em; }
/* Attachment form */
#kp form.attachment-form label { width: 7em; }
#kp form.attachment-form .input-container { padding-left: 7em; }
/* Request password reset form */
#kp form.request-password-reset-form label { width: 8em; }
#kp form.request-password-reset-form .input-container { padding-left: 8em; }

/*** Models ***/

#kp .model-title,
#kp .model-cnt h2 { margin: 0 0 0.5em 0; font-size: 1.5em; }

#kp .model-cnt dl.meta { margin-bottom: 0.5em; }
#kp .model-cnt dl.meta dt, #kp .model-cnt dl.meta dd { color: #888a85; display: inline; padding: 0; margin: 0; }
#kp .model-cnt dl.meta dd { padding-right: 1em; }
#kp .model-cnt ul.meta li { padding-bottom: 0.3em; }

#kp table.meta { width: auto; border: 0; margin: 0; }
#kp table.meta th { vertical-align: top; }

#kp .model-cnt .images-cnt {
    border: 1px solid #c0c0c0;
    color: #555753;
    padding: 3px;
    margin: 0 0 1em 0;
    list-style-type: none;
    position: relative;
    overflow: hidden;
}
#kp .model-cnt .images-cnt .images-inner-cnt { overflow: hidden; }
#kp .model-cnt .images-cnt .tools { margin: 0; padding: 3px 0 0 0; }
#kp .model-cnt .images-cnt .images img { display: block; }
#kp .model-cnt .images-cnt .images .image-description {
    display: block;
    padding-top: 0.3em;
    font-style: italic;
}
#kp .model-cnt .images-cnt .play-pause-action {
    position: absolute;
    display: block;
    top: 1em;
    right: 1em;
    text-indent: -10000px;
    width: 20px;
    height: 20px;
    z-index: 1000;
}
#kp .model-cnt .images-cnt .play-pause-action { background: url(../images/icon_pause.png) no-repeat; }
#kp .model-cnt .images-cnt .paused { background: url(../images/icon_play.png) no-repeat; }

#kp .model-title .meta { font-size: 0.6em; color: #babdb6; font-weight: normal; }

#kp .info-box { border: 1px solid #c0c0c0; padding: 0 0.3em 0.5em 0.3em; font-size: 0.929em; }
#kp .info-box .meta { border: 0; margin: 0; }
#kp .info-box .meta dt { font-style: italic; padding-top: 0.5em; }
#kp .info-box .meta dd { padding: 0; margin: 0; overflow: hidden; }
#kp .info-box .image { overflow: hidden; padding-top: 0.3em; }
#kp .info-box .image .tools { padding: 3px; margin: 0; }

#kp .model-cnt .linked-entities h3 { margin-bottom: 0.5em; }
#kp .model-cnt .linked-entities ul { margin: 0 0 1.5em 0; padding: 0; width: 15em; float: left; }
#kp .model-cnt .linked-entities ul li { margin: 0 0 0.3em 1.5em; }

/*** Admin tools ***/

#kp .admin-tools { border: 1px solid #c0c0c0; padding: 0.5em; margin: 0 0 1em ; }
#kp ul.admin-tools { list-style-type: none; border: 0; }
#kp div.admin-tools h4 { margin: 0 0 0.5em 0; padding: 0; font-size: 1em; }
#kp div.admin-tools ul { list-style-type: none; margin: 0; padding: 0; line-height: 1.8em; }
#kp .admin-tools li { display: inline; padding-right: 0.5em; }
#kp .admin-tools a, #kp a.admin-tool {
    border: 1px solid #c0c0c0;
    padding: 1px 0.5em;
    text-decoration: none;
    white-space: nowrap;
    font-size: 0.929em;
}
#kp .admin-tools a:hover, #kp .admin-tools a:active,
#kp a.admin-tool:hover, #kp a.admin-tool:active { background: #D9EBD2; }

/*** Allotment ***/

#kp #kp-allotment-init-form .allotment-district-list { list-style-type: none; margin: 0; padding: 0; }
#kp #kp-allotment-init-form .allotment-district-list li { width: 15em; float: left;  }
#kp #kp-allotment-init-form .submit-cnt { padding-top: 1em; clear: both; }

#kp #kp-distribution-meta { margin-bottom: 1em; }
#kp #kp-distribution-meta dt { display: block; width: 10em; float: left; }
#kp #kp-distribution-meta dd { display: block; padding-left: 10em; }

#kp #kp-distribution-list { width: auto; }
#kp #kp-distribution-list td { padding: 3px 0.5em; vertical-align: middle; }
#kp #kp-distribution-list .school-row td.name { padding-left: 2em; }
#kp #kp-distribution-list .group-row td.name { padding-left: 4em; }
#kp #kp-distribution-list .extra td.name { padding-left: 0.5em; }

#kp #kp-distribution-list .num-tickets input { width: 3em; }
#kp #kp-distribution-list .tools a {
    display: block;
    width: 1.2em;
    height: 1.2em;
    float: left;
    border: 1px solid #c0c0c0;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    background: #fff;
    color: #2e3436;
}
#kp #kp-distribution-list .tools a:hover { background: #007133; color: #fff !important; text-decoration: none !important; }
#kp #kp-distribution-list .tools .fill { margin-right: 1em; }

#kp #kp-distribution-list .toggler {
    color: inherit !important;
    background: url(../images/expanded.png) 5px 50% no-repeat;
    padding-left: 20px;
}
#kp #kp-distribution-list .toggler.collapsed { background: url(../images/collapsed.png) 5px 50% no-repeat; }

#kp #kp-distribution-list tbody tr:nth-child(2n) { background: #fff; }
#kp #kp-distribution-list .full { background: #caebbc !important; }
#kp #kp-distribution-list .partial { background: #ffec80 !important; }
#kp #kp-distribution-list .error { background: #ffeae0 !important; }

#kp #kp-distribution-list .proximity { font-weight: bold; text-decoration: underline; }


#kp .allotment-group-selection label { display: none; }
#kp .allotment-group-selection div, #kp .allotment-group-selection form { display: inline; }
#kp .allotment-group-selection div.load-indicator { display: inline-block; }
#kp .allotment-group-selection .input-container select { width: auto; }
#kp .allotment-group-selection .form-fieldset { margin: 0; }
#kp .allotment-group-selection .form-fieldset legend { margin: 0; }
#kp .allotment-group-selection .form-fieldset legend span { position: static; background: none; padding: 0; }
#kp form .allotment-group-selection { margin-bottom: 2em; }

/*** Calendar ***/

#kp .calendar-list-tabs {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
    border-bottom: 1px solid #c0c0c0;
}
#kp .calendar-list-tabs li {
    display: inline-block;
    margin-right: 0.2em;
    border: 1px solid #c0c0c0;
    border-bottom: 0;
    background: #d9ebd2;
    font-size: 0.929em;
}
#kp .calendar-list-tabs a { display: block; padding: 0.3em 0.6em 0.5em 0.6em; position: relative; top: 1px; }
#kp .calendar-list-tabs li.active, #kp .calendar-list-tabs li.active a { background: #fff; }

#kp .calendar-list .date-row th { border-top: 1px solid #dcd7cf; }
#kp .calendar-list .icon-indicator { width: 1%; white-space: nowrap; }
#kp .calendar-list .booking { white-space: nowrap; }

#kp .calendar-table { width: 100%; }
#kp .calendar-table td, #kp .calendar-table th { text-align: center; }
#kp .calendar-table .inactive {color: #a2a2a2; background-color: #f0f0f0; }
#kp .calendar-table-eventname, #kp .calendar-table-occasion { text-align: left; }
#kp .calendar-month-nav th { padding-bottom: 1em; font-size: 1em; }
#kp .calendar-month-nav th.current { font-size: 1.3em; }
#kp .calendar-month-nav th.prev { text-align: left; }
#kp .calendar-month-nav th.next { text-align: right; }

#kp .show-calendar-filter-action {
    display: block;
    float: right;
    clear: both;
    padding-right: 20px;
    background: url(../images/show.png) no-repeat 100% 50%;
    text-align: right;
}
#kp .hide-calendar-filter-action {
    padding: 0 20px 0 20px;
    background: url(../images/hide.png) no-repeat 100% 50%;
}

#kp .calendar-filter #kp-calendar-filter-free-text-label { display: block; font-size: 1em; font-weight: bold; }
#kp .calendar-filter #kp-calendar-filter-free-text { width: 40em; }

#kp .calendar-filter .target-cnt,
#kp .calendar-filter .date-cnt,
#kp .calendar-filter .category-cnt {
    margin-top: 1em;
    float: left;
}
#kp .calendar-filter .date-cnt {
    border: 1px solid #c0c0c0;
    border-width: 0 1px;
    margin: 1em 1em 0 1em;
    padding: 0 1em;
}
#kp .calendar-filter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#kp .calendar-filter h4 { margin: 0 0 0.3em 0; }
#kp .calendar-filter .category-cnt label { font-weight: bold; font-size: 1em; }
#kp .calendar-filter .category-cnt dt,
#kp .calendar-filter .category-cnt dd { padding: 0; margin: 0; }
#kp .calendar-filter .category-cnt dd { padding-bottom: 1em; }

#kp .calendar-filter .form-buttons {
    clear: both;
    text-align: right;
    padding: 0.5em 0;
}

#kp-ticket-availability-dialog { overflow: auto !important; }
#kp .calendar-list .ticket-availability { position: relative; display: inline; }
#kp .calendar-list .ticket-availability-close-link { display: none; }
#kp .calendar-list .ticket-availability-container {
    position: absolute;
    top: 1.5em;
    right: 0;
    padding: 0.3em;
    border: 1px solid #c0c0c0;
    width: 25em;
    background: #D9EBD2;
    z-index: 999;
}
#kp .calendar-list .ticket-availability-container p { margin: 0 0 0.5em 0; }
#kp .calendar-list .ticket-availability-container .ticket-availability-list {
    margin: 0;
    padding: 0 0 0 2em;
}

/*** Events ***/
#kp #kp-ev-meta-info ul { margin: 0; padding: 0; list-style-type: none; }
#kp #kp-ev-meta-info ul li { margin: 0; padding: 0; }

#kp #kp-event-link-culture-provider-selection { padding-bottom: 1em; }

/*** Occasions ***/

#kp .occasions-event { padding: 0.5em; }
#kp .occasions-listing { padding-left: 1em; }

#kp .occasion-form-container { clear: both; }

#kp .occasion-list td { vertical-align: top; }
#kp .occasion-list td p { margin: 0; }
#kp .occasion-list td.date-time span,
#kp .occasion-list td.num-seats,
#kp .occasion-list td.address,
#kp .occasion-list td.tools a,
#kp .occasion-list td.tools span { white-space: nowrap; }

/*** Groups ***/

#kp .age-group-form #kp-age_group-age, #kp .age-group-form #kp-age_group-quantity { width: 4em; }

/*** Questionaires ***/

#kp .add-question-cnt .description { display: block; padding-bottom: 0.5em; font-weight: bold; }
#kp .add-template-question-form { margin-bottom: 1em; }
#kp .question-form div { padding: 3px 0.5em; }

/*** User profile ***/

#kp .privileges-cnt ul li { margin: 0.5em 0; }

/*** Booking ***/
#kp .booking-group-selection,
#kp .booking-form .booking-seats-container { position: relative; }
#kp .booking-form #kp-booking-count { padding: 7px; margin: 0 0 0 16em; width: 265px; }
#kp .booking-group-selection .with-legend { padding-bottom: 0; }
#kp .booking-group-selection .notification-request-info { margin: 0 0 1em 16em; width: 275px; }
#kp .booking-group-selection .notification-request-info p { margin: 0; }

#kp .booking-confirmation-list th { width: 1%; white-space: nowrap; }

/*** Role application ***/
#kp .role-application-specification dt { width: 8em; }
#kp .role-application-specification dd { padding-left: 8em; }

/*** Attendance reporting ***/
#kp .attendant-list input { width: 3em; }

/*** Sitevision hack ***/
#kp #kp-sitevision-base-url { display: none; }

