body {
    font-size: 75%;
    color: #2e3436;
    font-family: 'Trebuchet MS', 'DejaVu Sans', 'Bitstream Vera Sans', sans-serif !important;
    margin: 0;
    padding: 0.3em 0 0 0;
}

#kp h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
#kp h2 { font-size: 2em; margin-bottom: 0.75em; }
#kp h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
#kp h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
#kp h5 { font-size: 1em; margin-bottom: 1.5em; }
#kp h6 { font-size: 1em; }

#kp p { margin: 0 0 1.5em; }

#kp a { color: #007133; }

#kp li ul,
#kp li ol { margin:0 1.5em; }
#kp ul, ol { margin: 0 1.5em 1.5em 1.5em; }

#kp ul { list-style-type: disc; }
#kp ol { list-style-type: decimal; }

#kp dl { margin: 0 0 1.5em 0; }
#kp dd { margin-left: 1.5em;}

#kp fieldset { border: 1px solid #d3d7cf; margin: 0 0 1em 0; padding: 1em 1em 0 1em; }
#kp legend { padding: 0 1em; }

#kp table {
    margin: 1em 0;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #d3d7cf;
    width: 100%;
}
#kp table thead th { text-align: left; background: #edd400; font-weight: normal; }
#kp table td, #kp table th { padding: 3px 5px; vertical-align: top; }
#kp table th { vertical-align: bottom; }
#kp table .alt td { background: #eeeeec; }
#kp table .selected td { background: #cfc; }
#kp table th.super { border: 0; text-align: center; }

#kp img { border: 0; padding: 0; margin: 0; }

#kp .clearer { clear: both; }

/*** jQuery UI ***/
#kp .ui-widget { font-size: 1em; }

#kp ul.ui-tabs-nav {
    padding: 0 0 0 1em;
    list-style: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #d3d7cf;
    margin: 0;
}
#kp ul.ui-tabs-nav li { float: left; background: #fff; margin-right: .3em; border: 0; position: relative; top: 1px; }
#kp ul.ui-tabs-nav li a {
    display: block;
    background: #d9ebd2;
    border: 1px solid #d3d7cf;
    padding: .2em 1em;
    cursor: pointer;
}
#kp ul.ui-tabs-nav li.ui-state-hover a { background: #fff; }
#kp ul.ui-tabs-nav li.ui-state-hover a:hover { text-decoration: none !important; }
#kp ul.ui-tabs-nav li.ui-state-active a { border-bottom: 1px solid #fff; background: #fff; }

#kp .ui-tabs-hide { display: none; }

#kp .ui-widget-content {
    background: transparent;
    border: 0;
    border-top: none;
    overflow: hidden;
    clear: both;
}
#kp .ui-tabs-panel { border: 1px solid #d3d7cf; border-top: 0; padding: 0.5em; }

/*** Widgets ***/
#kp fieldset.collapsible legend {
    font-weight: bold; 
    background: url(../images/expanded.png) 5px 50% no-repeat;
    padding-left: 20px;
    cursor: pointer;
}
#kp fieldset.collapsed { border: 0; padding: 0 0 0 1em;}
#kp fieldset.collapsed legend { background: url(../images/collapsed.png) 5px 50% no-repeat; }
#kp fieldset.collapsed form { display: none; }

/*** Page ***/
#kp { padding: 1em; width: 800px; }

#kp #kp-logo { margin: 0 0 0.5em 0; }

#kp .flash { margin: 0.5em; border: 1px solid #c00; padding: 0.5em; background: #fcc; }
#kp #kp-flash-notice { border-color: #060; background: #cfc; }

#kp ul.tools {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
}
#kp ul.tools li { display: inline; margin-right: 1em; }

#kp #kp-content { margin-top: 1em; }

/*** Navigation ***/
#kp .pri-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #d3d7cf;
}
#kp .pri-nav li {
    display: inline-block;
    margin-right: 0.2em;
    border: 1px solid #d3d7cf;
    border-bottom: 0;
    font-size: 1.1em;
    font-weight: bold;
    background: #d9ebd2;
}
#kp .pri-nav a { display: block; padding: 0.3em 0.6em 0.5em 0.6em; position: relative; top: 1px; }
#kp .pri-nav li.active, #kp .pri-nav li.active a { background: #fff; }

#kp .sec-nav {
    list-style-type:none;
    margin: 0;
    padding: 0;
    border: 1px solid #d3d7cf;
    border-top: 0;
    clear: both;
}
#kp .sec-nav li { display: inline-block; padding: 0.5em 1em; }
#kp .sec-nav li.active { font-weight: bold; }

/*** Forms ***/

#kp form .errorExplanation {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #c00;
    background: #fcc;
}

#kp form .errorExplanation h2 { font-size: 1.2em; margin: 0 0 1em 0; }
#kp form .errorExplanation p { margin: 0 0 0.5em 0; padding: 0; }
#kp form .errorExplanation ul { margin: 0 0 0 2em; padding: 0; }

#kp form input.error { background: #fcc; }

#kp ul.form-elements {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#kp ul.form-elements li {
    padding: 0 0 0.5em 0;
    margin: 0;
}

#kp .inline-form-elements {
    border: 1px solid #d3d7cf;
    padding: 3px;
}

/*** Models ***/

#kp .model-cnt h1 { margin: 0 0 0.5em 0; font-size: 1.5em; }
#kp .model-cnt dl.meta, #kp .model-cnt .images-cnt {
    border: 1px solid #d3d7cf;
    color: #555753;
    padding: 0.5em;
    margin: 0 0 1em 1em;
    list-style-type: none;
    float: right;
    clear: right;
}
#kp .model-cnt ul.meta li { padding-bottom: 0.3em; }

#kp .model-cnt table.meta { width: auto; border: 0; margin: 0; }
#kp .model-cnt table.meta th { text-align: left; vertical-align: top; }

#kp .model-cnt .main-image { border: 1px solid #d3d7cf; padding: 0.2em; margin: 0 0 1em 0; }
#kp .model-cnt .images { list-style-type: none; margin: 0; padding: 0; }

/*** Allotment ***/

#kp #kp-allotment-init-form .allotment-district-list { list-style-type: none; margin: 0; padding: 0; }
#kp #kp-allotment-init-form .allotment-district-list li { width: 15em; float: left;  }
#kp #kp-allotment-init-form .submit-cnt { padding-top: 1em; clear: both; }

#kp #kp-distribution-meta { background: #fff; border: 1px solid #d3d7cf; padding: 0.5em; position: fixed; top: 1em; right: 1em; }
#kp #kp-distribution-meta h4 { font-size: 1.1em; margin: 0; padding: 0; }
#kp #kp-distribution-meta ul { list-style-type: none; margin: 0; padding: 0;}

#kp #kp-distribution-list td { padding: 3px 0.5em; vertical-align: middle; }
#kp #kp-distribution-list .school-row td.name { padding-left: 2em; }
#kp #kp-distribution-list .group-row td.name { padding-left: 4em; }
#kp #kp-distribution-list .extra td.name { padding-left: 0.5em; }

#kp #kp-distribution-list .num-tickets input { width: 3em; }
#kp #kp-distribution-list .tools a {
    display: block;
    width: 1.5em;
    height: 1.5em;
    float: left;
    border: 1px solid #d3d7cf;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: #fff;
    color: #2e3436;
}
#kp #kp-distribution-list .tools .fill { margin-right: 1em; }

#kp #kp-distribution-list .full { background: #8ae234; }
#kp #kp-distribution-list .overbooked { background: #fcaf3e; }
#kp #kp-distribution-list .partial { background: #fce94f; }
#kp #kp-distribution-list .error { background: #ef2929; }

/*** Calendar ***/

#kp .calendar-list th, #kp .calendar-list td { padding: 5px; }
#kp .calendar-list .date-row th { text-align: left; border-top: 1px solid #dcd7cf; }

#kp .calendar-table { width: 100%; }
#kp .calendar-table td, #kp .calendar-table th { text-align: center; }
#kp .calendar-table .inactive {color: #a2a2a2; background-color: #f0f0f0; }
#kp .calendar-table-eventname, #kp .calendar-table-occasion { text-align: left; }
#kp .calendar-month-nav th { padding-bottom: 1em; font-size: 1.1em; }
#kp .calendar-month-nav th.current { font-size: 1.3em; }
#kp .calendar-month-nav th.prev { text-align: left; }
#kp .calendar-month-nav th.next { text-align: right; }

/*** Occasions ***/

#kp .occasions-event {padding: 0.5em;}
#kp .occasions-listing {padding-left: 1em;}

#kp .occasions-form textarea { height: 5em; width: 15em; }
#kp #kp-occasion-seats, #kp #kp-occasion-wheelchair_seats { width: 5em; }
#kp .occasions-form .start-time-cnt,
#kp .occasions-form .seats-cnt,
#kp .occasions-form .address-cnt { float: left; padding-right: 1em; }
#kp .occasions-form .address-cnt label,
#kp .occasions-form .description-cnt label { display: block; }
#kp .occasions-form .submit-cnt { clear: both; }

#kp .occasion-list td p { margin: 0; }

/*** Booking ***/
#kp .kp-booking-pagetitle {font-size: 1.5em; font-weight: bold;}
#kp .kp-booking-pageheader { font-size: 1.1em;}
#kp .kp-booking-form {width: 75%;}
#kp .kp-booking-overflow-warning {color: red;}
#kp .booking-count {padding: 0.7em;}
#kp .booking-no-tickets { margin: 0.2em; ; border: 1px solid navy; padding: 0.5em; background: yellow; }
#kp .booking-warn-age { margin: 0.2em; ; border: 1px solid navy; padding: 0.5em; background: yellow; }

/*** Groups ***/
#kp .age-group-form #kp-age_group-age, #kp .age-group-form #kp-age_group-quantity { width: 4em; }

/*** Questionaires ***/

#kp .question-cnt {padding: 0.3em;}
#kp .question-unanswered-cnt {padding: 0.3em;border: 1px solid #ff0000;background-color: #f0f0f0;}
#kp .questioin-radiobutton-cnt {margin-left: 0.5em; text-align: left}
#kp .questionaire-pagetitle {font-size: 1.2em; padding: 0.5em;}

/*** User profile ***/

#kp .privileges-cnt ul li { margin: 0.5em 0; }
