<%= render partial: "menu" -%>

<div class="group-bookings-group-selection">
  <%= render partial: "shared/group_selection" %>
</div>

<div id="kp-group-bookings-container">
  <% if @bookings %>
    <%= render partial: "list", locals: { bookings: @bookings } %>
  <% end %>
</div>
