<%= render :partial => "menu" -%>

<% if params[:occasion_id] %>
  <div class="filter-tools">
    <% form_tag apply_filter_occasion_bookings_path() do %>
      <ul>
        <li class="district-filter">
          <label for="kp-booking-filter-district_id">Stadsdel:</label>
          <%= select_tag "district_id",
            '<option value="all">Alla</option>' + options_from_collection_for_select(@districts, :id, :name, (session[:booking_list_filter] || {})[:district_id]),
            :id => "kp-booking-filter-district_id"
          %>
        </li>
      </ul>
      <div class="button-container">
        <input type="submit" value="Visa"/>
      </div>
    <% end %>
  </div>
<% end %>

<%= render :partial => "list", :locals => { :bookings => @bookings } %>
