%nav.basic
  %h1 Grupper
  %ul
    %li= link_to "Alla grupper", groups_path
    %li= link_to "Grupper från Extens", groups_path(filter: :external)
    %li= link_to "Manuellt upplagda grupper", groups_path(filter: :manual)
    %li= link_to "Ny grupp", new_group_path
