<option>Välj grupp</option>
<% if @occasion.blank? %>
<%= options_from_collection_for_select @groups, :id, :name %>
<% else %>
<%= options_for_select( @groups.map { |g| [ g.name + ( @occasion.event.ticket_state == Event::ALLOTED_GROUP ? " - " + g.ntickets_by_occasion(@occasion).to_s : "" ) , g.id ] } ) %>
<%  end %>
