<%# coding: utf-8 %>
<% content_for :section_sub do -%>
  <ul class="section-nav">
      <li class="<%= active_by_action "role_applications", "index" %>"><%= link_to 'Obesvarade ansökningar', role_applications_path %></li>
      <li class="<%= active_by_action "role_applications", "archive" %>"><%= link_to 'Arkiv', archive_role_applications_path %></li>
  </ul>
<% end -%>
