%aside.contact-us.vcard.basic
  %h1 Kontakta oss

  .fn Kulturhuset Mazetti
  %div
    E-post:
    %span.email mazetti@malmo.se
  %div
    Tel:
    %span.email 040-34 48 00
  %div
    Fax:
    %span.email 040-34 48 02

  %h2 Telefontider
  %div
    månd - torsd kl 08.00-20.00, fred kl 08.00-18.30.

  %h2 Besöksadress
  .adr Friisgatan 15B
  %div= link_to "Visa på karta",
    "http://www.malmo.se/karta?poi=F%C3%B6reningsgatan%207A&amp;zoomlevel=4&amp;maptype=karta",
    class: "show-on-map m-icon-location",
    "data-poi" => "Friisgatan 15B",
    "data-map-selector" => ".map-container",
    "data-scroll-to" => ".map-container"

