<!-- masthead, remote include -->
<!--eri-no-index-->
<div class="header">
<div class="header-wrapper">
<div class="content-wrapper">
<div class="content-wrapper-1">
<div class="content-wrapper-2">
<div class="content-wrapper-3">
<div class="content-wrapper-4">
<div class="content-wrapper-5">
<div class="content-wrapper-6">
<div>
<div class="masthead">
<div class="logo">
<a href="http://www.malmo.se/"><img src="http://www.malmo.se/assets/img/malmo-stad-logo.png" title="Malmö stad" alt="Malmö stad" /></a>
</div>
<div class="functions">
<div>
<ul class="language">
  <li class="ll"><a href="http://www.malmo.se/lattlast">Lättläst</a></li>
  <li class="other-languages"><a class="only-js" href="http://www.malmo.se/other/noscript">Other languages</a></li>
</ul>

<div id="other-languages">
<div class="google-translate">
</div>
<div class="english">
<h2>In English</h2>
<p><a href="http://www.malmo.se/english">Selected information in English.</a></p>

</div>
<div class="sign-language">
<h2>Teckenspråk</h2>
<p><a href="http://www.malmo.se/teckensprak">Utvald information på teckenspråk.</a></p>
</div>
</div>
</div>

<div>
<ul>
  <li><a href="http://www.malmo.se/a-o">A-Ö</a></li>
  <li><a href="http://www.malmo.se/webboversikt">Webböversikt</a></li>
  </ul>
</div>
<div>
<ul>
  <li class="rss"><a href="http://www.malmo.se/rss">RSS</a></li>
  <li class="map"><a href="http://www.malmo.se/karta">Karta</a></li>
  <li class="adjust"><a href="http://www.malmo.se/anpassa">Anpassa</a></li>
</ul>
</div>
</div>
<div class="top-menu">
<div>
  <ul>
    <li><a href="http://www.malmo.se/Medborgare.html" class="active">Medborgare</a></li>
    <li><a href="http://www.malmo.se/Foretagare.html" >Företagare</a></li>
    <li><a href="http://www.malmo.se/Turist.html" >Turist</a></li>
    <li><a href="http://www.malmo.se/Kommun--politik.html" >Kommun &amp; politik</a></li>
    <li><a href="http://malmo.se/Blanketter--tjanster.html" >Blanketter &amp; tjänster</a></li>
  </ul>
</div>
<div class="search-box">
<form method="get" action="http://www.malmo.se/sok">
   <fieldset>
      <label for="search-field" class="off-screen">Sök</label>
      <input id="search-field" class="input-text" type="text" name="q" size="25" value="" />
      <input type="submit" class="button" name="submit" value="Sök"  />
   </fieldset>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--/eri-no-index-->
<!-- /masthead, remote include -->
