<%# coding: utf-8 %>
<% if user_online? && (current_user.has_role?(:admin) || current_user.has_role?(:culture_worker)) %>
  <% content_for :section_sub do -%>
    <ul class="section-nav">
      <li class="<%= active_by_action "events", "new" %>"><%= link_to 'Nytt evenemang', new_event_path %></li>
    </ul>
  <% end -%>
<% end -%>
