<% content_for :sec_nav do -%>
  <ul class="sec-nav">
    <li class="<%= active_by_action "events", "index" %>"><%= link_to 'Lista', events_path %></li>
    <li class="<%= active_by_action "events", "new" %>"><%= link_to 'Nytt evenemang', new_event_path %></li>
  </ul>
<% end -%>