<%# coding: utf-8 %>
<% content_for :section_sub do -%>
  <ul class="section-nav">
    <li class="<%= active_by_action "districts", "index" %>"><%= link_to 'Lista', districts_path %></li>
    <li class="<%= active_by_action "districts", "new" %>"><%= link_to 'Ny stadsdel', new_district_path %></li>
  </ul>
<% end -%>
