<%= render partial: "menu" -%>

<div class="model-cnt">

  <h2>Historik för <%= @district.name %></h2>

  <ul class="admin-tools">
    <li><%= link_to 'Återvänd', @district %></li>
  </ul>

</div>

<%= render partial: "versions/versions",
  object: @district.versions.updates,
  locals: { model: District, fields: %w(name contacts) } %>
