
<%=
 if @occasion.nil?
   ("<option>Välj Grupp</option>" + options_for_select(@groups.collect { |g| [ g.name , g.id]})).to_s
 else
   ("<option>Välj Grupp</option>" + options_for_select(@groups.collect { |g| [ g.name , g.id]})).to_s
 end
 

%>
