<%= render :partial => "menu" -%>

<div class="group-bookings-group-selection">
  <%= render :partial => "shared/group_selection" %>
</div>

<div id="kp-booking-by-group">

  <% if !@group.blank? || @occasions.blank? %>
    <%= render :partial => "by_group_list" ,
      :locals => {
      :occasions => @occasions ,
      :group => @group
    } %>
  <% end %>

</div>

