- content_for(:page_title) do
  Skolor

%main.admin.with-aside
  = render partial: "list", locals: { schools: @schools }
  = will_paginate @schools

%aside.admin
  = render partial: "menu"
  = render partial: "shared/admin_menu"
