<%# coding: utf-8 %>
<h1>Kulturproceduren - Kulturbussbokning</h1>

<p>
  En lista med kulturbussbokningar för
  <a href="<%= mail_url(event_path(@event)) %>">
    <%= @event.name %>
  </a>
  finns bifogat i detta mail.
</p>
