<h1>Tillgängliga platser</h1>

<p>
  Platser till <%= h @event.name %> i Kulturproceduren finns nu tillgängliga
  för alla skolor i hela Malmö.
</p>

<p>
  <%= link_to "Klicka här för att se tider och boka platser.", "#" %>
</p>
