<h1>Tilldelade platser</h1>

<p>
  <%= h @group.name %>, <%= h @group.school.name %> har fått platser tilldelade
  till <%= h @event.name %> i Kulturproceduren.
</p>

<p>
  <%= link_to "Klicka här för att se tider och boka platser.", "#" %>
</p>
