table {
    width: 100%;

    .cancelled {
        text-decoration: line-through;
    }

    .actions ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }
}

form table {
    th, td {
        font-size: 1em;
    }
}

table#age_categories {
  border-width: 0;
  tr {
    border-width: 0;
    td {
      border-width: 0;
      img {
        border: rgb(213, 213, 213) 1px solid;
        padding: 3px;
      }
    }
  }
}