table {
    width: 100%;

    .cancelled {
        text-decoration: line-through;
    }

    .actions ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }
}
