<% (1..4).each do |i| -%>
  <%= radio_button_tag "answer[#{question.id}]", i, i == value, { class: "radio" } %>
  <%= label_tag "answer_#{question.id}_#{i}", i %>
<% end %>
<span class="field-help">1 채r s채mst och 4 채r b채st</span>
