<%# coding: utf-8 %>
<ul class="multiple-choice">
  <% question.choice_csv.split(',').each do |option| %>
    <li>
      <%= check_box_tag "answer[#{question.id}][#{option}]",
        "1",
        (value ? value.include?(option) : false),
        { :class => "checkbox" }
      %>
      <%= label_tag "answer[#{question.id}][#{option}]", option %>
    </li>
  <% end %>
</ul>
