<%= render :partial => "booking/menu" %>

<h2 class="form-title">
  Meddelande vid biljettsläpp
</h2>

<p>
  Om den grupp du vill boka biljetter för inte har fått biljetter till
  <%= link_to @occasion.event.name, @occasion.event %>
  tilldelade till sig så kan du här registrera dig så att du får ett
  meddelande när biljetter blir tillgängliga.
</p>

<%= render(
  :partial => "group_select" ,
  :locals => {
    :district_id => params[:district_id] ,
    :school_id   => params[:school_id] ,
    :schools     => @schools ,
    :group_id    => params[:group_id] ,
    :groups      => @groups ,
    :occasion    => @occasion ,
    :user        => @user
  })
%>

<div id="kp-notreq-input-area">
    <%= render(
      :partial => "input_area" ,
      :locals => {
        :notification_request => @notification_request 
      }) unless @notification_request.group.blank?
  %>
</div>
